<div>


        <div id="textBerlin" style="background-color:white; padding-top:4%;">
            <center>
                <h1> Berlin </h1>
            </center>
            <p class="textAbout">
                From standing at the centre of European history during the 20th century,
                <br> to entering the new millennium as one of the coolest cities in the world thanks to its nightlife,
                <br> art, culture and foodie scenes, Berlin has always been a city at the heart of the action.
                <br> Here are five of the best reasons to visit Berlin.
                <br>
                <br>
            </p>
            <!-- <br><br><br><br><br><br><br><br><br> -->
        </div>
        <div id="slides" class="w3-content w3-display-container" style="padding-top:25%;">
    
            <img class="mySlides" src="/assets/img/Berlin.jpg" alt="Berlin" style="width:40%">
            <img class="mySlides" src="/assets/img/fernsehturm.jpg" alt="fernsehturm" style="width:45%">
            <img class="mySlides" src="/assets/img/reichstag.jpg" alt="reichstag" style="width:55%">
            <img class="mySlides" src="/assets/img/wall.jpg" alt="wall" style="width:55%">
            <img class="mySlides" src="/assets/img/Brandenburger.jpg" alt="Brandenburger" style="width:55%">
            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
        <!-- <br><br><br><br><br><br><br><br><br><br><br> -->
        <div>
            <p class="textAbout">
                <b>1. Philharmonie</b>
                <br> As one of the finest orchestras in the world, the Berliner Philharmoniker attracts music lovers from near and
                far.
                <br> The orchestra has a 120-year history and has been led by such greats as Peter Tchaikovsky, Richard Strauss,
                and Edvard Grieg.
                <br>
                <br>
                <b>2. Clubs and bars</b>
                <br>Berlin nightlife is known for its the electronic beat-driven scene to be found in its clubs and bars.
                <br>This is the city of techno and of Berghain, of hip jazz clubs and live music venues.
                <br>A place where unusual spaces are turned into cool and quirky bars.
                <br>
                <br>
                <b>3. Markets and shopping</b>
                <br> Whether you are interested in the designer boutiques of Kurfürstendamm, Berlin’s number one shopping boulevard,
                <br> or more interested in hunting for vintage bargains at the Sunday Mauerpark flea market, Berlin is a great place
                for a spot of retail therapy.
                <br>
                <br>
                <b>4. Plenty Green spaces</b>
                <br> Tiergarten is Berlin’s central park, between the Berlin Zoo and the Brandenburg Gate,
                <br> but don’t miss the chance to explore the forests and lakes of Wannsee, in the south west of the city,
                <br> the tall pines of Grunewald forest, or Tempelhofer Feld which once was an airport.
                <br>
                <br>
                <b>5. Berlin helps you appreciate life</b>
                <br> Spend some time walking through the Holocaust Memorial and you truly will appreciate how precious and valuable
                life is.
                <br> This exhibit has been very cleverly done. The stones look to be the same height from the outside,
                <br> but it is only once you’ve walked to the center that you will notice the stones cushioning you from great heights.
                <br> </p>
        </div>
        <!-- <script src="aboutController.js"></script> -->
    </div>